<!DOCTYPE html>
<head>
	<title>Configuration CinePromo</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/new/ui.jqgrid-bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/new/bootstrap.min.css" />
    
    <script src="static/new/jquery.min.js" type="text/javascript"></script>
    <script src="static/new/grid.locale-en.js" type="text/javascript"></script>
    <script src="static/new/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="static/new/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.jgrid.no_legacy_api = true;
        $.jgrid.useJSON = true;
        $.jgrid.defaults.width = 780;
		$.jgrid.defaults.responsive = true;
		$.jgrid.defaults.styleUI = 'Bootstrap';
    </script>

</head>
<body>
<center>
<h1>Bonjour bienvenue sur la configuration de CinePromo !</h1>
</center>
<div id=bandeau>
    <form method="post" action="/">
                  <label for="url">Url fichier places dispo:</label>
                  <input type="text" name="url" value="{{url}}" size="100"/><br />
                  <label for="url">Token:</label>
                  <input type="text" name="token" value="{{token}}" size="10"/><br />
                  <label for="url">Bande annonce: 1/</label>
                  <input type="text" name="ratioba" value="{{ratioba}}" size="10"/> (0 pas de Bande Anonce)<br />
                  <label for="url">Url Bande annonce:</label>
                  <input type="text" name="urlba" value="{{urlba}}" size="100"/><br />
                  <label for="duree">Rafraichissement toute les (s):</label>
                  <input type="text" name="duree" value="{{duree}}"/><br />
                  <label for="nbsalle">Nombre de salle:</label>
                  <input type="text" name="nbsalle" value="{{nbsalle}}"/><br />
                  <input type="submit" />
                </form>
</div>
<div id=pub>
<table id="list"></table>
<div id="pager"></div>
</div>
<script type="text/javascript">
jQuery("#list").jqGrid({
   	url:'grid',
	datatype: "json",
    hoverrows:false,
//    height: 600,
    height:200,
   	colNames:['Id','Type','Url','Duree','Active','Actions'],
   	colModel:[
   		{name:'id',index:'id', key:true, width:55, sorttype:'integer', searchoptions:{sopt:['eq','ne','le','lt','gt','ge']}},
   		{name:'type',index:'type', width:200, sorttype:'string', searchoptions:{sopt:['eq','bw','bn','cn','nc','ew','en']},editable:true,edittype:"select",editoptions: {value:"image:Image;video:Vidéo"}},
   		{name:'url',index:'url', width:400, sorttype:'string', searchoptions:{sopt:['eq','bw','bn','cn','nc','ew','en']},editable:true},
   		{name:'duree',index:'duree', width:100, sorttype:'integer', searchoptions:{sopt:['eq','bw','bn','cn','nc','ew','en']},editable:true},
   		{name:'active',index:'active', width:100, sorttype:'integer', searchoptions:{sopt:['eq','bw','bn','cn','nc','ew','en']},editable:true,edittype:"select",editoptions: {value:"oui:Oui;non:Non"}},
        {name: 'myac', width:80, fixed:true, sortable:false, resize:false, formatter:'actions',	formatoptions:{keys:true}}
   	],
   	rowNum:40,
   	rowList:[40],
    loadonce: true,
    scrollPaging:true,
    autowidth:true,
   	pager: '#pager',
    rownumbers: true,
    gridview: true,
   	sortname: 'id',
    viewrecords: true,
    editurl: "/server",
    caption:"CinePromo"
});
jQuery("#list").jqGrid('navGrid','#pager',{edit:true,add:true,del:true});
jQuery("#list").jqGrid('filterToolbar',{searchOperators : true});
jQuery("#list").jqGrid('inlineNav',"#list");
</script>
</body>
</html>
